@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
}

.fullcard {
    display: inline-block;
    border: solid 1px lightgray;
    width: 20%;
    margin: 5%;
}

.header {
    margin: 2em;
}

.headerOne {
    margin-left: 1em;
    font-size: 1.5em;
    font-family: "Roboto", ;
    color: rgb(114, 113, 113);
    float: left;
}

.moreDeals {
    font-weight: 600;
    font-family: "Roboto", ;
    margin-right: 1.5em;
    color: rgb(233, 42, 42);
    float: right;
}

.carImages {
    height: 100px;
    width: 100px;
}

.currentPrice {
    color: rgb(233, 42, 42);
}

.save {
    color: green;
}

.savebox {
    color: white;
    padding: 0.2em;
    background-color: green;
    border-radius: 10%;
}
.originalPrice {
    text-decoration: line-through;
}